<div class="flight-search-container top-section">
  <div><h4>Flight Status API</h4></div>
  <div class="menu"></div>
  <form #flightSearch="ngForm" class="searchForm">
      <div class="form-field">
          <mat-form-field>
            <mat-label>Search by Flight number</mat-label>
            <input matInput placeholder="KL1001" type="text" (focus)="focushandler(flightno,origin,destination)" #flightno>
          </mat-form-field>
        </div>
        <div class="form-field origin-destination">
          <mat-form-field>
            <mat-label>enter origin</mat-label>
            <input matInput placeholder="AMS" type="text" (focus)="focushandler()" #origin>
          </mat-form-field>
      
          <mat-form-field>
            <mat-label>enter destination</mat-label>
            <input matInput placeholder="CDG" type="text" (focus)="focushandler()" #destination>
          </mat-form-field>
        </div>
        <button mat-flat-button color="primary" (click)="searchFlight(flightno,origin,destination)">Search flight</button>
  </form>
  <div *ngIf="showFlightStatusError" class="error">{{errorMsg}}</div>
</div>