$departureImage : '../../../../assets/flight_takeoff.png';
$arrivalImage : '../../../../assets/flight_land.png';
$transferImage : '../../../../assets/transfer.png';
@mixin backgroundImageBasicProps {
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
}
@mixin inlineBlockProps {
    display: inline-block;
    margin-right: -3px;
    vertical-align: middle;
}
@mixin diverAfterBefore {
    content:'';
    position: absolute;
    top: -5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
}
.mat-expansion-panel {
    box-shadow: none;
}
.mat-card {
    padding: 0;
}
.mat-card-title {
    margin-bottom: 0;
}
h3 {
    margin-bottom: 8px;
}
.legInfo {
    padding: 10px;
    @include inlineBlockProps();
    width: 100%;
    background: whitesmoke;
    position: relative;
    p {
        margin: 5px 0;
    }
    .flight-status-leg-title {
        margin: 0 auto;
        div {
            @include inlineBlockProps();
            width: 50%;
            padding: 10px 25px;
            &:last-child {
                text-align : right;
            }
        }
    }
    .arrival-icon,.departure-icon {
        margin-bottom: 10px;
    }
    .leg-divider {
        position: absolute;
        width: 30%;
        margin: 0 auto;    
        height: 5px;
        background: #000;
        border-radius: 10px;
        top: 30%;
        left: 0;
        right: 0;
        &::before {
            @include diverAfterBefore();
            left: -10px;
        }
        &::after {
            @include diverAfterBefore();
            right: -10px;
        }
    }
}
.departure-icon {
    background-image: url($departureImage);
    @include backgroundImageBasicProps;
}
.arrival-icon {
    background-image: url($arrivalImage);
    @include backgroundImageBasicProps;
}
.transfer-icon {
    background-image: url($transferImage);
    @include backgroundImageBasicProps;
}
.showTransfer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.arrivalStatusIndicator {
    height: 35px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 7px 10px;
    color: #000;
    font-weight: 500;
}

.ARRIVED,.LANDED {
    background-color: #0ee000;
}
.DIVERTED {
    background-color: #f79527;
}
.ON_TIME {
    background-color: #2769f7;
    color: #FFF;
}
.DELAYED_DEPARTURE {
    background-color: #f79527;
}
.CANCELLED {
    background-color: #f42424;
    color: #FFF;
}
.IN_FLIGHT,.ON_ITS_WAY {
    background-color: #ffff28;
}
.NEW_DEPARTURE_TIME {
    background-color: aqua;
}
.DEPARTED {
    background: #000;
    color: #FFF;
}

@media only screen and (min-width:320px) and (max-width:900px) and (max-height:900px) {
    .leg-divider {
        display: none;
    }
    .flight-status-leg-title {
        margin: 0 auto;
        div {
            display: block !important;
            margin: 0;
            width: 100% !important;
            padding: 10px 25px;
            border-bottom: 1px solid #a5a5a5;
            &:last-child {
                text-align : left !important;
                border-bottom: none;
            }
        }
        .departureAirport {

        }
    }
}