<ng-container *ngTemplateOutlet="flightLegInfo"></ng-container>

<ng-template #flightLegInfo>
  <mat-card-content>
    <div *ngFor="let leg of flightLegs">
      <mat-card>
        <div class="legInfo">
          <div class="arrivalStatusIndicator {{leg.legStatusPublic}}"> {{leg.legStatusPublicLangTransl}}</div>
          <div class="flight-status-leg-title">
            <div class="departureAirport">
              <mat-card-title>{{leg.departureInformation.airport.code}}</mat-card-title>
              <h3>{{leg.departureInformation.airport.city.name}}</h3>
              <mat-card-subtitle>{{leg.departureInformation.airport.name}}</mat-card-subtitle>

              <mat-card-subtitle>Terminal {{leg.departureInformation.airport.terminalCode}}</mat-card-subtitle>
              <h3>Departure Date & Time</h3>
              <h4>{{leg.arrivalInformation.times.actualDay }}</h4>
              <mat-card-title>{{leg.departureInformation.times.actualTime}}</mat-card-title>
            </div>
            <div class="arrivalAirport">
              <mat-card-title>{{leg.arrivalInformation.airport.code}}</mat-card-title>
              <h3>{{leg.arrivalInformation.airport.city.name}}</h3>
              <mat-card-subtitle>{{leg.arrivalInformation.airport.name}}</mat-card-subtitle>
              <mat-card-subtitle>Terminal {{leg.arrivalInformation.airport.terminalCode}}</mat-card-subtitle>
              <h3>Arrival Date & Time</h3>
              <h4>{{leg.arrivalInformation.times.actualDay }}</h4>
              <mat-card-title>{{leg.arrivalInformation.times.actualTime}}</mat-card-title>
            </div>
          </div>
          <p class="leg-divider"></p>

        </div>
      </mat-card>
      <div class="showTransfer" *ngIf="leg.transitTime">
        <div mat-card-avatar class="transfer-icon"></div>
        <div>Transfer Time: {{leg.transitTime}}H</div>
      </div>
    </div>
  </mat-card-content>
</ng-template>