/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body { height: 100%; }
html {
    background-image: url('./assets/img-plane.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
 }

