
.main-container {
    padding:20px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    .flight-status-container {
        width:100%;
        margin: 0 auto;
    }
    .displayMsg {
        background: #fff;
        text-align: center;
        line-height: 36px;
        border-top: 0.5px solid #c5c5c5;
        font-weight: 500;
    }
}

@media only screen and (min-width:1200px) {
    .flight-status-container {
        width: 60% !important;
        margin: 0 auto;
    }
}